<html>

<head>
    <style>
        body {
            background-image: url("../static/img/img7.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }

        h1,
        h3 {
            text-align: center;
        }
    </style>
    <title> ontime </title>
</head>

<body>
    <h1> Prediction of Flight</h1>
    <h3> Prediction : <b><u>Flight will be on time..</u> !!...</b> <img src="../static/img/img7.jpg" height="40px"
            width="40px" /></h3>
    <h3><a href="/">Go Back..</a></h3>

</body>

</html>